
<!--<div class="row text-center">-->
  <!--<div class="col">-->
    <!--<header class="head-image">-->
      <!--<h1 class="white">This is my Homepage</h1>-->
      <!--<h2 class="red">Beware all who enter!</h2>-->
    <!--</header>-->
  <!--</div>-->
<!--</div>-->
<div class="jumbotron text-center">
  <h1 class="white title">Alpha Blog</h1>
  <%= link_to 'Sign up now', '#', class: 'btn btn-primary btn-lg' %>
</div>

<!--<div class="row main-content">-->
  <!--<div class="col-4 red offset-1 light-grey-background">-->
    <!--<h2 class="text-center">Column 1</h2>-->
    <!--<p>-->
      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at leo erat. Aenean lobortis-->
      <!--efficitur diam, sit amet egestas leo consequat vel. Quisque sit amet vestibulum sem. Quisque fringilla-->
      <!--felis quam, ut suscipit quam sollicitudin at. Fusce ac odio erat. Cras interdum est ac nibh gravida tempor.-->
      <!--Mauris ex nunc, viverra nec aliquet consequat, luctus molestie dolor. Mauris nec ullamcorper urna. Nullam-->
      <!--scelerisque, arcu ut elementum luctus, augue neque scelerisque neque, at elementum metus turpis euismod quam.-->
      <!--Vestibulum risus purus, varius non risus eget, congue laoreet dolor. Quisque placerat eu urna eget semper.-->
      <!--Donec imperdiet tincidunt lacus, sit amet tempus dolor tincidunt vel. Vestibulum at blandit quam. Nulla-->
      <!--sollicitudin ante at nibh consectetur consectetur. Ut et leo vitae velit elementum dapibus.-->
    <!--</p>-->
    <!--<p>-->
      <!--Phasellus nec elementum lectus, porta viverra enim. Sed vitae nisl est. Proin ornare vitae sapien ac suscipit.-->
      <!--Curabitur nec erat convallis, ornare nunc ultricies, facilisis felis. Sed risus augue, tempor vel nisl nec,-->
      <!--hendrerit semper tortor. Suspendisse viverra, nibh non pretium eleifend, lorem magna hendrerit ex, iaculis-->
      <!--rutrum libero quam ut neque. Sed non magna eu tellus iaculis auctor. Donec vestibulum pharetra eros.-->
      <!--Aliquam condimentum odio arcu, vitae fringilla magna tincidunt vel. Mauris cursus tincidunt metus feugiat maximus.-->
      <!--Fusce accumsan porta mattis. Aliquam at leo est. Nulla eu fringilla purus. Curabitur sit amet semper tellus.-->
    <!--</p>-->
  <!--</div>-->
  <!--<div class="col-5 offset-1 grey-background">-->
    <!--<h2 class="text-center">Column 2</h2>-->
    <!--<p>-->
      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at leo erat. Aenean lobortis-->
      <!--efficitur diam, sit amet egestas leo consequat vel. Quisque sit amet vestibulum sem. Quisque fringilla-->
      <!--felis quam, ut suscipit quam sollicitudin at. Fusce ac odio erat. Cras interdum est ac nibh gravida tempor.-->
      <!--Mauris ex nunc, viverra nec aliquet consequat, luctus molestie dolor. Mauris nec ullamcorper urna. Nullam-->
      <!--scelerisque, arcu ut elementum luctus, augue neque scelerisque neque, at elementum metus turpis euismod quam.-->
      <!--Vestibulum risus purus, varius non risus eget, congue laoreet dolor. Quisque placerat eu urna eget semper.-->
      <!--Donec imperdiet tincidunt lacus, sit amet tempus dolor tincidunt vel. Vestibulum at blandit quam. Nulla-->
      <!--sollicitudin ante at nibh consectetur consectetur. Ut et leo vitae velit elementum dapibus.-->
    <!--</p>-->
    <!--<p>-->
      <!--Phasellus nec elementum lectus, porta viverra enim. Sed vitae nisl est. Proin ornare vitae sapien ac suscipit.-->
      <!--Curabitur nec erat convallis, ornare nunc ultricies, facilisis felis. Sed risus augue, tempor vel nisl nec,-->
      <!--hendrerit semper tortor. Suspendisse viverra, nibh non pretium eleifend, lorem magna hendrerit ex, iaculis-->
      <!--rutrum libero quam ut neque. Sed non magna eu tellus iaculis auctor. Donec vestibulum pharetra eros.-->
      <!--Aliquam condimentum odio arcu, vitae fringilla magna tincidunt vel. Mauris cursus tincidunt metus feugiat maximus.-->
      <!--Fusce accumsan porta mattis. Aliquam at leo est. Nulla eu fringilla purus. Curabitur sit amet semper tellus.-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->
