@import 'bootstrap';

.jumbotron {
  background-image: asset-url('dragon2.jpg');
  background-repeat: no-repeat;
  background-size: 900px 500px;
  background-position: center;
  background-color: white;
  height: 500px;
  margin-top: 15px;
}
.white {
  color: white;
}

.bg-blue {
  background-color: #08088A;
}

#logo {
  font-size: 1.9em;
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: -1px;
  fint-weight: bold;
  color: purple;
}

#logo:hover {
  color: black;
}
.title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 4em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover {
  color: #222;
}
footer span {
  font-size: 0.8em;
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 15px;
  }
}

.text-small {
  font-size: 0.9em;
}

.no-bullets {
  list-style-type: none;
}

.pad-left {
  padding-left: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.card {
  margin-bottom: 1rem;
}

.article-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.15rem;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions {
  padding-bottom: 0.5rem;
}

.article-meta-details {
  font-size: 0.8rem;
  border-top: 1px solid #eaeaea;
  margin-top: 1rem;
}

.page-title {
  margin-top: 1rem;
}