<div class="container">
  <footer class="footer">
    <span>Copyright &copy; 2018 Keil Hunsaker</span>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>